
#form
{
    grid-area: form;
    position: relative;
    margin-bottom: -42px;
    z-index: 1;
    top:110px;
    right: 903px;
    width: 450px;
    border: 2px solid #838383 ;
    box-shadow: -4px -4px 10px #414141;
    height: 460px;
    background-color: #fbb034;
background-image: linear-gradient(315deg, #ffa920 40%, #ffdd00 74%);
}
.form h3{
    display: inline-block;
    border: none;
    border-bottom: 2px solid rgba(214, 16, 214, 0.856);
    
    font-size: 25px;
    position: relative;
   
    left: 7px;
    top: -111px;
    color: #2b2828;
    height: 42px;
    font-family: 'Overpass', sans-serif;
}
.form p{
    position: relative;
    bottom: 94px;
    right: 91px;
    font-size: 20px;
    padding-bottom: 20px;
    font-family: 'Overpass', sans-serif;
    color: #2c2b2b;
}
footer{
    padding: realtive;
    top:157px;
    height: 100px;
}
#section{
    position: relative;  
    left: 646px;
    background-color: #f9484a;
background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
}
.party button{
    position: relative;
    top: 27px;
    left: 56px;
    width: 83px;
    height: 29px;
    border-radius: 10px;
    color: #fa000cfd;
}
.party button:hover{
    background-color: #fc575e;
    color: white;
}